
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Lab_DBMS</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/CSS/index_style.css">
    </head>
    <body>
        <div id="hed">
            <hr size="2" noshade>
            <h1 style="text-align: center;"><a href="/">Laboratory Database Management System</a></h1>
            <hr size="2" noshade>
        </div>

        <div class="card">
            <div class="container">
                <h3>Contact Details</h3>
                Vartesh : cse210001073@iiti.ac.in
                <br>
                Vedant : cse210001074@iiti.ac.in
            </div>
        </div>

        <script src="" async defer></script>
    </body>
</html>